<!DOCTYPE html>
<html lang="en">
<head>
	<title>XXX食堂 </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Bakery In Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); } </script>

	<link href="/assets/front/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" /><!-- bootstrap css -->
	<link href="/assets/front/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/assets/front/css/typography.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/assets/front/css/contact.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/assets/front/css/gallery.css" rel="stylesheet" type="text/css" media="all" /><!-- gallery css -->
	<link href="/assets/front/css/jQuery.lightninBox.css" rel="stylesheet" type="text/css" media="all" /><!-- for gallery lightninBox css -->

	<link href="/assets/front/css/font-awesome.css" rel="stylesheet"> <!-- fontawesome css -->

</head>
<body>

<!-- header -->
<div class="header" id="home">
	<div class="content white">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">
						<h1>XXX 食堂</h1>
					</a>
				</div>
				<!--/.navbar-header-->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<nav>
						<ul class="nav navbar-nav">
							<li><a href="/" class="active">首页</a></li>
							<li><a href="/f/about">关于 </a></li>

							<li class="dropdown">
								<a href="#" class="dropdown-toggle active" data-toggle="dropdown">食堂公告 <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="/f/ingredients">食材来源公告</a></li>
									<li class="divider"></li>
									<li><a href="/f/complaintsres">投诉结果公告</a></li>
								</ul>
							</li>

							<li><a href="/f/gallery">相册</a></li>
							<li><a href="/f/complaints">投诉</a></li>
							<li><a href="/f/opinion">建议</a></li>


						</ul>
					</nav>
				</div>
				<!--/.navbar-collapse-->
				<!--/.navbar-->
			</div>
		</nav>
	</div>
</div>
<!-- //header -->

<!-- banner slider -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1" class=""></li>
		<li data-target="#myCarousel" data-slide-to="2" class=""></li>
		<li data-target="#myCarousel" data-slide-to="3" class=""></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="container">
				<div class="carousel-caption">
					<div class="col-md-6 slider_left">
						<h4>1.详细了解学生食堂管理网站所需的业务和运行需求</h4>
						<h4>2.建立食堂管理制度，明确学生会权力</h4>
						<h4>3.建立食堂员工管理模块，按职务进行分类展示</h4>
							<h4>4.建立菜谱管理及展示模块，并对三天的菜谱和价格进行展示</h4>
					</div>
					<div class="col-md-6 slider_right">
						<img src="/assets/front/images/cake.png" alt="cake1" />
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="item item2">
			<div class="container">
				<div class="carousel-caption">
					<div class="col-md-6 slider_left">
						<h4>5.建立食材来源及价格展示模块</h4>
							<h4>6.建立食堂卫生评分模块</h4>
								<h4>7.建立食堂进货及库存管理模块</h4>
					</div>
					<div class="col-md-6 slider_right">
						<img src="/assets/front/images/cake1.png" alt="cake1" />
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="item item3">
			<div class="container">
				<div class="carousel-caption">
					<div class="col-md-6 slider_left">
						<h4>8.建立食堂财务管理模块</h4>
							<h4>9.建立食堂每周菜谱改进及学生意见统计模块</h4>
								<h4>10.建立学生投诉管理模块</h4>
					</div>
					<div class="col-md-6 slider_right">
						<img src="/assets/front/images/cake2.png" alt="cake1" />
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="item item4">
			<div class="container">
				<div class="carousel-caption">
					<div class="col-md-6 slider_left">
						<h4>11.建立被解雇员工的解雇原因公示模块</h4>
					</div>
					<div class="col-md-6 slider_right">
						<img src="/assets/front/images/cake3.png" alt="cake1" />
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="fa fa-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="fa fa-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
	<!-- The Modal -->
</div>
<!-- //banner slider -->

${layoutContent}

<!-- footer -->
<div class="footer">
	<div class="container">
		<div class="w3_agile_footer_grids">
			<ul class="col-md-4 col-xs-6 w3_agile_footer_grid right">
				<h3>食堂开放时间</h3>
				<li><span class="fa fa-clock-o" aria-hidden="true"></span>星期一 <span>9:00 - 22:00</span></li>
				<li><span class="fa fa-clock-o" aria-hidden="true"></span>星期二 <span>9:00 - 22:00</span></li>
				<li><span class="fa fa-clock-o" aria-hidden="true"></span>星期三 <span>9:00 - 22:00</span></li>
				<li><span class="fa fa-clock-o" aria-hidden="true"></span>星期四 <span>9:00 - 22:00</span></li>
				<li><span class="fa fa-clock-o" aria-hidden="true"></span>星期五 <span>9:00 - 21:00</span></li>
				<li><span class="fa fa-clock-o" aria-hidden="true"></span>星期六 <span>9:00 - 21:00</span></li>
				<li><span class="fa fa-clock-o" aria-hidden="true"></span>星期日 <span>9:00 - 21:00</span></li>
			</ul>
			<div class="col-md-4 col-xs-6 w3_agile_footer_grid">
				<h3>导航</h3>
				<ul class="agileits_w3layouts_footer_grid_list">
					<li>
						<span class="fa fa-angle-double-right" aria-hidden="true"></span>
						<a href="index.html">首页</a>
					</li>
					<li>
						<span class="fa fa-angle-double-right" aria-hidden="true"></span>
						<a href="about.html">关于</a>
					</li>
					<li>
						<span class="fa fa-angle-double-right" aria-hidden="true"></span>
						<a href="services.html">公告</a>
					</li>
					<li>
						<span class="fa fa-angle-double-right" aria-hidden="true"></span>
						<a href="gallery.html">相册</a>
					</li>
					<li>
						<span class="fa fa-angle-double-right" aria-hidden="true"></span>
						<a href="contact.html">投诉或建议</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4 col-xs-6 w3ls_address_mail_footer_grids w3_agile_footer_grid">
				<h3>联系我们</h3>
				<div class="w3ls_footer_grid_left">
					<div class="w3l-icon">
						<span class="fa fa-map-marker" aria-hidden="true"></span>
					</div>
					<p>xxxx 大学 xxxx食堂
					</p>
					<div class="clearfix"></div>
				</div>
				<div class="w3ls_footer_grid_left">
					<div class="w3l-icon">
						<span class="fa fa-phone" aria-hidden="true"></span>
					</div>
					<p>+(020) 455 312 671
						<span>+(020) 664  951 859</span>
					</p>
					<div class="clearfix"></div>
				</div>
				<div class="w3ls_footer_grid_left">
					<div class="w3l-icon">
						<span class="fa fa-envelope-o" aria-hidden="true"></span>
					</div>
					<p>
						<a href="mailto:info@example.com">mail@example1.com</a>
						<span>
								<a href="mailto:info@example.com">mail@example2.com</a>
							</span>
					</p>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="agileinfo_copyright">
			<p>Copyright &copy; 2018
			</p>
		</div>
	</div>
</div>
<!-- //footer -->

<!-- Supportive js -->
<script type="text/javascript" src="/assets/front/js/jquery-2.1.4.min.js"></script>
<!-- //Supportive js -->

<!-- banner bottom video script -->
<script src="/assets/front/js/simplePlayer.js"></script>
<script>
    $("document").ready(function() {
        $("#video").simplePlayer();
    });
</script>
<!-- //banner bottom video script -->

<!-- testimonials plugin script -->
<script src="/assets/front/js/jquery.wmuSlider.js"></script>
<script>
    $('.example1').wmuSlider();
</script>
<!-- testimonials plugin script -->

<!-- smooth scrolling js -->
<script src="/assets/front/js/SmoothScroll.min.js"></script>
<!-- smooth scrolling js -->

<script src="/assets/front/js/jQuery.lightninBox.js"></script>

<!-- start-smooth-scrolling -->
<script type="text/javascript" src="/assets/front/js/move-top.js"></script>
<script type="text/javascript" src="/assets/front/js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>

<!-- here starts scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
		/*
		 var defaults = {
		 containerID: 'toTop', // fading element id
		 containerHoverID: 'toTopHover', // fading element hover id
		 scrollSpeed: 1200,
		 easingType: 'linear'
		 };
		 */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->

<!-- move to top-js-files -->
<script type="text/javascript" src="/assets/front/js/move-top.js"></script>
<script type="text/javascript" src="/assets/base/base.js"></script>
<script type="text/javascript" src="/assets/front/js/easing.js"></script>
<!-- //move to top-js-files -->
<script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>


<script type="text/javascript" src="/assets/front/js/bootstrap.js"></script><!-- bootstrap js file -->


<%
if(jsFiles != null){
%>
<script src="${jsFiles}"></script>
<%
}
%>

</body>
</html>